<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<p>
  <strong>Chef:</strong>
  <%= link_to @restaurant.chef, chef_restaurant_path(@restaurant) %>
</p>

<p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> <%= link_to 'remove', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
